# Group DataFrames from each month into one year

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_bx4 = pd.read_csv('../data/bixi/OD_2018-04.csv')
df_bx5 = pd.read_csv('../data/bixi/OD_2018-05.csv')
df_bx6 = pd.read_csv('../data/bixi/OD_2018-06.csv')
df_bx7 = pd.read_csv('../data/bixi/OD_2018-07.csv')
df_bx8 = pd.read_csv('../data/bixi/OD_2018-08.csv')
df_bx9 = pd.read_csv('../data/bixi/OD_2018-09.csv')
df_bx10 = pd.read_csv('../data/bixi/OD_2018-10.csv')
df_bx11 = pd.read_csv('../data/bixi/OD_2018-11.csv')

df_bx4.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2018-04-10 11:56,7030,2018-04-10 11:57,6141,87,1
1,2018-04-10 11:56,6100,2018-04-10 11:59,6064,122,1
2,2018-04-10 11:57,6730,2018-04-10 12:16,6396,1132,1
3,2018-04-10 11:58,6108,2018-04-10 12:02,6114,271,1
4,2018-04-10 12:01,6223,2018-04-10 12:10,6233,513,1

In [11]:
df_bixi_2018 = df_bx4.append([df_bx5 , df_bx6 , df_bx7 , df_bx8 , df_bx9 , df_bx10 , df_bx11] , ignore_index=True)
df_bixi_2018.shape

(5277541, 6)

In [7]:
df_bixi_2018.to_csv('../data/bixi/bixi_2018.csv') # include the index as the other csv files