# Group DataFrames from each month into one year

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_bx4 = pd.read_csv('../data/bixi/OD_2017-04.csv')
df_bx5 = pd.read_csv('../data/bixi/OD_2017-05.csv')
df_bx6 = pd.read_csv('../data/bixi/OD_2017-06.csv')
df_bx7 = pd.read_csv('../data/bixi/OD_2017-07.csv')
df_bx8 = pd.read_csv('../data/bixi/OD_2017-08.csv')
df_bx9 = pd.read_csv('../data/bixi/OD_2017-09.csv')
df_bx10 = pd.read_csv('../data/bixi/OD_2017-10.csv')
df_bx11 = pd.read_csv('../data/bixi/OD_2017-11.csv')

df_bx4.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2017-04-15 00:00,7060,2017-04-15 00:31,7060,1841,1
1,2017-04-15 00:01,6173,2017-04-15 00:10,6173,553,1
2,2017-04-15 00:01,6203,2017-04-15 00:04,6204,195,1
3,2017-04-15 00:01,6104,2017-04-15 00:06,6114,285,1
4,2017-04-15 00:01,6174,2017-04-15 00:11,6174,569,1

In [4]:
df_bixi_2017 = df_bx4.append([df_bx5 , df_bx6 , df_bx7 , df_bx8 , df_bx9 , df_bx10 , df_bx11] , ignore_index=True)
df_bixi_2017.shape

(4740357, 6)

In [5]:
df_bixi_2017.to_csv('../data/bixi/bixi_2017.csv') # include the index as the other csv files