# Group DataFrames from each month into one year

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_bx4 = pd.read_csv('../data/bixi/OD_2019-04.csv')
df_bx5 = pd.read_csv('../data/bixi/OD_2019-05.csv')
df_bx6 = pd.read_csv('../data/bixi/OD_2019-06.csv')
df_bx7 = pd.read_csv('../data/bixi/OD_2019-07.csv')
df_bx8 = pd.read_csv('../data/bixi/OD_2019-08.csv')
df_bx9 = pd.read_csv('../data/bixi/OD_2019-09.csv')
df_bx10 = pd.read_csv('../data/bixi/OD_2019-10.csv')

df_bx4.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2019-04-14 07:55:22,6001,2019-04-14 08:07:16,6132,713,1
1,2019-04-14 07:59:31,6411,2019-04-14 08:09:18,6411,587,1
2,2019-04-14 07:59:55,6097,2019-04-14 08:12:11,6036,736,1
3,2019-04-14 07:59:57,6310,2019-04-14 08:27:58,6345,1680,1
4,2019-04-14 08:00:37,7029,2019-04-14 08:14:12,6250,814,0

In [3]:
df_bixi_2019 = df_bx4.append([df_bx5 , df_bx6 , df_bx7 , df_bx8 , df_bx9 , df_bx10] , ignore_index=True)
df_bixi_2019.shape

(5597845, 6)

In [4]:
df_bixi_2019.to_csv('../data/bixi/bixi_2019.csv') # include the index as the other csv files